<!DOCTYPE html>
<html>

<head>
  <title>MINASWAN: {{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" href="/stylesheets/reset.css" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/minaswan.css" charset="utf-8">
</head>

<body>

  <header>
    <h1><a href="/">Project MINASWAN</a></h1>
    <h2>Matz is nice, and so we are nice</h2>
    <h2>Promoting niceness in the Ruby community</h2>
    <h2>makes us happy, so we act happy</h2>
    <h2>Promoting the Ruby culture</h2>
  </header>

  <nav>
	<ul>
        <li><a href="https://twitter.com/matzisnice">Follow on Twitter</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/minaswan">Mailing List</a></li>
        <li><a href="https://github.com/minaswan/minaswan.github.com">Contribute on GitHub</a></li>
    </ul>
  </nav>

{{ content }}

  <footer>
	<p>...</p>
  </footer>

</body>

</html>
